<div ng-if="thing">

    <div class="col-md-7">
        <h1 class="col-md-10">{{ thing.name }}</h1>
    </div>
    
    <div class="col-md-2">
        <button style="margin-top:20px" class="btn btn-default col-md-2" ng-click="" data-toggle="modal" data-target="#edit_carte_modal">Editer la carte</button>
    </div>    

<div class="col-md-9">
    <p>{{ thing.description }}</p>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">GPIOs</div>

      <!-- Table -->
      <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Pin</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="gpio in thing.gpios">
                <th>{{ $index+1 }}</th>
                <th>{{ gpio.name }}</th>
                <th>{{ gpio.pin }}</th>
                <th>{{ gpio.val }}</th>               
            </tr>
        </tbody>
      </table>
    </div>
</div>



                    <!--ul class="list-unstyled">
                        <li ng-repeat="gpio in thing.gpios">
                            <h3>{{ gpio.name }}</h3>
                            <p>{{ gpio.name }}</p>
                            <p>{{ gpio.pin }}</p>
                            <!-- <input type="text" class="form-control" ng-model="gpio.name"/>
                            <input type="text" class="form-control" ng-model="gpio.pin"/> -->
                            <!--h2>EVENT</h2>
                            <ul class="list-unstyled">
                                <li ng-repeat="event in gpio.events">
                                    <p>{{ event.name }}</p>
                                    <!-- <input type="text" class="form-control" ng-model="event.name"/> -->
                                <!--/li>
                            </ul>
                            <h2>JOB</h2>
                            <ul class="list-unstyled">
                                <li ng-repeat="job in gpio.jobs">
                                    <p>{{ job.name }}
                                    <!-- <input type="text" class="form-control" ng-model="job.name"/> -->
                                <!--/li>
                            </ul>
                        </li>
                    </ul-->

    <!--form class="form-group" ng-submit="putThing(); $emit('putThing', thing.name);">
        {{ thing.name }}
        <input type="text" class="form-control" ng-model="thing.name"/>
        <input type="text" class="form-control" ng-model="thing.description"/>
        <input type="text" class="form-control" ng-model="thing.author"/>
        <ul class="list-unstyled">
            <h2>GPIO</h2>
            <li ng-repeat="gpio in thing.gpios">
                <h3>{{ gpio.name }}</h3>
                <p>{{ gpio.name }}</p>
                <p>{{ gpio.pin }}</p>
                <!-- <input type="text" class="form-control" ng-model="gpio.name"/>
                <input type="text" class="form-control" ng-model="gpio.pin"/> -->
                <!--h2>EVENT</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="event in gpio.events">
                        <p>{{ event.name }}</p>
                        <!-- <input type="text" class="form-control" ng-model="event.name"/> -->
                    <!--/li>
                </ul>
                <h2>JOB</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="job in gpio.jobs">
                        <p>{{ job.name }}
                        <!-- <input type="text" class="form-control" ng-model="job.name"/> -->
                    <!--/li>
                </ul>
            </li>
        </ul>
        <input type="submit" value="Save" class="btn btn-default">
    </form-->
    <!--{{ thing.gpios | filter:{slug: slugGpio}:true | limitTo:1 }}-->
</div>

<div class="modal fade" id="edit_carte_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editer la carte</h4>
            </div>
            <div class="modal-body">
                <form class="form-group" ng-submit="putThing(); $emit('putThing', thing.name);">

                    <div class="form-group">
                        <label for="thing_name_edit">Nom</label>
                        <input type="text" class="form-control" id="thing_name_edit" placeholder="Nom" ng-model="thing.name">
                    </div>
                    <div class="form-group">
                        <label for="thing_address_edit">Adresse</label>
                        <input type="text" class="form-control" id="thing_address_edit" placeholder="Description" ng-model="thing.description">
                    </div>
                    <div class="form-group">
                        <label for="thing_author_edit">Auteur</label>
                        <input type="text" class="form-control" id="thing_author_edit" placeholder="Auteur" ng-model="thing.author">
                    </div>

                    <div class="form-group text-right">
                        <input type="submit" value="Save" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>