<div ng-if="thing">
    <form class="form-group" ng-submit="putThing()">
        {{ thing.name }}
        <input type="text" class="form-control" ng-model="thing.name"/>
        <input type="text" class="form-control" ng-model="thing.description"/>
        <input type="text" class="form-control" ng-model="thing.author"/>
        <ul class="list-unstyled">
            <li ng-repeat="gpio in thing.gpios">
                <input type="text" class="form-control" ng-model="gpio.name"/>
                <input type="text" class="form-control" ng-model="gpio.pin"/>
                <ul class="list-unstyled">
                    <li ng-repeat="event in gpio.events">
                        <input type="text" class="form-control" ng-model="event.name"/>
                    </li>
                </ul>
            </li>
        </ul>
        <input type="submit" value="Save" class="btn btn-default">
    </form>
</div>