<div ng-if="selectedCarte">
    <ul class="list-unstyled">
        <li ng-repeat="gpio in selectedCarte">
            <form class="form-group" ng-submit="postGpios()">
                {{gpio.name}}
                <input type="text" class="form-control" ng-model="gpio.name"/>
                <input type="text" class="form-control" ng-model="gpio.pin"/>
                <input type="submit" value="Save" class="btn btn-default">
                <!-- <input type="text" ng-model="gpio.name"/>
                <input type="text" ng-model="gpio.name"/>
                <input type="text" ng-model="gpio.name"/>
                <input type="text" ng-model="gpio.name"/>
                <input type="text" ng-model="gpio.name"/> -->
            </form>
        </li>
    </ul>
</div>