<div ng-if="thing.gpios">
    <div ng-repeat="gpio in thing.gpios | filter:{slug: slugGpio}">
        <div class="col-md-7">
            <h1 class="col-md-10">{{ gpio.name }}</h1>
        </div>
        
        <div class="col-md-2">
            <button style="margin-top:20px" class="btn btn-default" ng-click="" data-toggle="modal" data-target="#edit_gpio_modal">Editer le GPIO</button>
        </div>

        <div class="col-md-9">
            <p>{{ gpio.description }}</p>

            <div class="col-md-4">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Evenemments</div>

                  <!-- Table -->
                  <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Dernier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in gpio.events">
                            <th>{{ $index+1 }}</th>
                            <th>{{ event.name }}</th>
                            <th>{{ event.history[0] }}</th>             
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-5">
                 <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Cycles</div>

                  <!-- Table -->
                  <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Dernier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="job in gpio.jobs">
                            <th>{{ $index+1 }}</th>
                            <th>{{ job.name }}</th>
                            <th>{{ job.history[0] }}</th>               
                        </tr>
                    </tbody>
                  </table>
                </div>               
            </div>

        </div>

        <div class="modal fade" id="edit_gpio_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Editer le GPIO</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" ng-submit="putGpio(slugGpio); $emit('putGpio', gpio);">

                            <div class="form-group">
                                <label for="thing_name_edit">Nom</label>
                                <input type="text" class="form-control" id="thing_name_edit" placeholder="Nom" ng-model="thing.name">
                            </div>
                            <div class="form-group">
                                <label for="thing_pin_edit">Pin</label>
                                <input type="text" class="form-control" id="thing_pin_edit" placeholder="Pin" ng-model="gpio.pin">
                            </div>

                            <div class="form-group text-right">
                                <input type="submit" value="Save" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>


    <!--form class="form-group" ng-submit="putGpio(slugGpio); $emit('putGpio', gpio);">
        {{ thing.name }}
        <ul class="list-unstyled">
            <h2>GPIO</h2>
            <li ng-repeat="gpio in thing.gpios | filter:{slug: slugGpio}">
                <h3>{{gpio.name}}</h3>
                <input type="text" class="form-control" ng-model="gpio.name"/>
                <input type="text" class="form-control" ng-model="gpio.pin"/>
                <h2>EVENT</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="event in gpio.events">
                        <input type="text" class="form-control" ng-model="event.name"/>
                    </li>
                </ul>
                <h2>JOB</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="job in gpio.jobs">
                        <input type="text" class="form-control" ng-model="job.name"/>
                    </li>
                </ul>
            </li>
        </ul>
        <input type="submit" value="Save" class="btn btn-default">
    </form-->